/* ====================================== Fonts */

@font-face {
  font-family: myFontStandard;
  src:url(TT-Norms-Pro-Thin.otf)
}

@font-face {
  font-family: myFontTitle;
  src:url(TT-Norms-Pro-Normal.otf)
}

/* ====================================== General */

body {
  background-color: #e5e5e5;
  font-family: myFontStandard;
}

.page-title{
  text-align: center;
}

footer{
  position: fixed;
  left: 0;
  bottom: -15px;
  width: 100%;
  background-color:#e5e5e5;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

footer img{
object-fit: cover;
height: 100%;
width: 40px;
margin-left: 10px;
}

.nav-space{
  padding-bottom: 80px;
}

.footer-space{
  padding-top: 80px;
}

#nav-bar{
  z-index: 5;
  top:0;
  width: 100%;
  position: fixed;
  box-shadow: 0;
  background-color: rgb(55, 132, 55);
}

#profile-photo{
  height: 100%;
  max-height:100% ;
  object-fit: cover;
  width: 40px;
}

.activate-genie-button{
  background-color: red;
  color: white;
  animation: flash 2s infinite;
  transition: box-shadow 0.3s;
}

.activate-genie-button:hover{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(222, 80, 80);
  color:white;
  animation: flash 50ms infinite;
}

.navbar-nav button {
  margin-right: 20px;
  padding-left: 100px;
}

#nav-bar-wish {
  padding-left: 125px;
}


#profile-photo{
  margin-left: 10px;
  padding-right: 10px;
}

#nav-bar-home{
  font-family: myFontTitle;
  padding-left: 10px;
}

#nav-bar-home img{
  width: 73px;
  height: 100%;
  object-fit: cover;
  margin-right: 50px;
}

#nav-bar-home:hover{
  animation: flash 1s infinite;
}

#nav-bar-wish:hover{
  animation: flash 1s infinite;
}

#nav-bar-favorites:hover{
  animation: flash 1s infinite;
}

#nav-bar-logout:hover{
  animation: flash 50ms infinite;
}

#nav-bar-logout{
  font-family: myFontTitle;
  padding-left: 20px;
}

/* ===================================== Homepage */

.container {
  perspective: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 90%;
  height: 60%;
  background-image: url('/static/images/genie_full.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
  margin-bottom: 200px;
}

.box:hover {
  transform: rotateY(180deg);
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: rotateY(0deg);
  margin-top: 780px;
  margin-left: 23px;
}

.homepage-buttons button {
  font-size: 2rem;
  padding: 20px 30px;
}

#login-button-on-splash{
  background-color: rgb(68, 80, 193);
  color: white;
  border-radius: 8px;
  border: none;
}

#signup-button-on-splash{
  background-color: rgb(200, 160, 81);
  color: white;
  border-radius: 8px;
  border: none;
}

#login-button-on-splash:hover{
  animation: flash 50ms infinite;
}

#signup-button-on-splash:hover{
  animation: flash 1s infinite;
}



/* =================================== Signup Page */

.signup-form{
  margin-top: 100px;
  padding: 100px;
  text-align: center;
}


#signup-button{
  text-align: center;
  margin-top: 20px;
}

#signup-button:hover{
  animation: flash 50ms infinite;
  cursor: pointer;
}


/* ==================================== Login Page */

.login-form{
  text-align: center;
  padding: 100px;
  margin-top: 100px;
}

#login-button-page{
  text-align: center;
  margin-top: 20px;
}

#login-button-page:hover{
  animation: flash 50ms infinite;
  cursor: pointer;
}

#forgot-button-page{
  cursor: pointer;
  margin-top: 20px;

}

#forgot-button-page:hover{
  animation: flash 1s infinite;
}

.container2 {
  perspective: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.box2 {
  width: 90%;
  height: 60%;
  background-image: url('/static/images/genie_head.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
  margin-bottom: 400px;
}

.box2:hover {
  transform: rotateY(180deg);
}

.login-form{
  padding-top: 640px;
}
/* ==================================== Wish Page */

.video-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

#favorite-button{
  text-align: center;
  border: none;
  background: none;
}


#lamp-video-display{
  background: none;
  border:none;
}

#lamp-video-display img{
  width: 100%;
  height: 100%;
}

.container3 {
  position: fixed;
  top: 0;
  left: 48%;
  transform: translateX(-50%);
  perspective: 1000px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 680px;
}

.box3 {
  width: 90%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
}

.box3:hover {
  transform: rotateX(180deg);
}

/* ==================================== Favorites Page */

#unfavorite-button{

  background-color: none;
  color:red;
  border: none;
}


/* ==================================== Edit Page */

.edit-profile-form{
 text-align: center;
  margin-top: 50px;
}

.profile-image-on-edit-page{
  text-align: center;
  margin-top: 80px;
}

.profile-image-on-edit-page img{
  width: 20%;
  height: auto;
}

#edit-user-button:hover{
  animation: flash 50ms infinite;
}

#cancel-user-button:hover{
  animation: flash 1s infinite;
}

/* ==================================== Forgot Password */

.flash-password{
  text-align: center;
  color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-top: 60px;
}

.forgot-password-form{
  margin-top: 100px;
  text-align: center;
  padding: 100px;
}

#forgot-password-button{
  text-align: center;
  margin-top: 20px;
}

#forgot-password-button:hover{
  animation: flash 1s infinite;
}


/* ==================================== Genie Page */

#genie-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}


/* ==================================== FX */

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}