/* ====================================== Fonts */

@font-face {
  font-family: myFontStandard;
  src:url(TT-Norms-Pro-Thin.otf)
}

@font-face {
  font-family: myFontTitle;
  src:url(TT-Norms-Pro-Normal.otf)
}


/* ====================================== 13 inch Macbook */






/* ====================================== General */


body {
  background-color: #e5e5e5;
  font-family: myFontStandard;
}

.page-title{
  text-align: center;
}

footer{
  position: fixed;
  left: 0;
  bottom: -15px;
  width: 100%;
  background-color:#e5e5e5;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

footer img{
object-fit: cover;
height: 100%;
width: 40px;
margin-left: 10px;
}

.nav-space{
  padding-bottom: 80px;
}

.footer-space{
  padding-top: 80px;
}

#nav-bar{
  z-index: 5;
  top:0;
  width: 100%;
  position: fixed;
  box-shadow: 0;
  background-color: rgb(55, 132, 55);
}

#profile-photo{
  height: 100%;
  max-height:100% ;
  object-fit: cover;
  width: 40px;
}

.activate-genie-button{
  background-color: red;
  color: white;
  animation: flash 2s infinite;
  transition: box-shadow 0.3s;
}

.activate-genie-button:hover{
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(222, 80, 80);
  color:white;
  animation: flash 50ms infinite;
}

.navbar-nav button {
  margin-right: 20px;
  padding-left: 100px;
}

#nav-bar-wish {
  padding-left: 125px;
}


#profile-photo{
  margin-left: 10px;
  padding-right: 10px;
}

#nav-bar-home{
  font-family: myFontTitle;
  padding-left: 10px;
}

#nav-bar-home img{
  width: 73px;
  height: 100%;
  object-fit: cover;
  margin-right: 50px;
}

#nav-bar-home:hover{
  animation: flash 1s infinite;
}

#nav-bar-wish:hover{
  animation: flash 1s infinite;
}

#nav-bar-favorites:hover{
  animation: flash 1s infinite;
}

#nav-bar-logout:hover{
  animation: flash 50ms infinite;
}

#nav-bar-logout{
  font-family: myFontTitle;
  padding-left: 20px;
}

/* ===================================== Homepage */

.container {
  perspective: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 90%;
  height: 60%;
  background-image: url('/static/images/full-genie-with-tail.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
  margin-bottom: 200px;
}

.box:hover {
  transform: rotateY(180deg);
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: rotateY(0deg);
  margin-top: 780px;
  margin-left: 4px;
}

.homepage-buttons button {
  font-size: 2rem;
  padding: 20px 30px;
}

#login-button-on-splash{
  background-color: rgb(68, 80, 193);
  color: white;
  border-radius: 8px;
  border: none;
}

#signup-button-on-splash{
  background-color: rgb(200, 160, 81);
  color: white;
  border-radius: 8px;
  border: none;
}

#login-button-on-splash:hover{
  animation: flash 50ms infinite;
}

#signup-button-on-splash:hover{
  animation: flash 1s infinite;
}



/* =================================== Signup Page */

.signup-form{
  margin-top: 270px;
  padding: 150px;
  text-align: center;
  z-index: 2;
}


#signup-button{
  text-align: center;
  margin-top: 20px;
}

#signup-button:hover{
  animation: flash 50ms infinite;
  cursor: pointer;
}

/* Container + box for Carpet */
.container5 {
  align-items: center;
  position: absolute;
  perspective: 1000px;
  height: 80vh;
  display: flex;
  z-index: 1;
  width: 50%;
  height: 50%;
  pointer-events: none;
  margin-bottom: 600px;
  margin-left: 27%;
  margin-top: -10px;
}


.box5 {

  width: 90%;
  height: 60%;
  background-image: url('/static/images/smaller_carpet.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
  margin-bottom: 700px;
  pointer-events: none;
}

.box5:hover {
  transform: rotateY(180deg);
}


/* ==================================== Login Page */

.login-form{
  text-align: center;
  padding: 100px;
  margin-top: 100px;
}

#login-button-page{
  text-align: center;
  margin-top: 20px;
}

#login-button-page:hover{
  animation: flash 50ms infinite;
  cursor: pointer;
}

#forgot-button-page{
  cursor: pointer;
  margin-top: 20px;

}

#forgot-button-page:hover{
  animation: flash 1s infinite;
}

.container2 {
  perspective: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.box2 {
  width: 90%;
  height: 60%;
  background-image: url('/static/images/genie_head.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
  margin-bottom: 400px;
}

.box2:hover {
  transform: rotateY(180deg);
}

.login-form{
  padding-top: 640px;
}


/* ==================================== Wish Page */

.video-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 125px;
  margin-right: 50px;
}

.video-container{
  z-index: 2;
  position: relative;
}


#favorite-button-container {
  display: flex;
  align-items: center;
}

#video-favorite-display{
  margin-left: 460px;
}

#favorite-button{
  text-align: center;
  border: none;
  background: none;
  z-index: 2;
}


#lamp-video-display{
  background: none;
  border:none;
  z-index: 1;
  position: relative;
}

#lamp-video-display img{
  width: 130%;
  height: 130%;
}

.container3 {
  position: fixed;
  top: 0;
  left: 40%;
  transform: translateX(-50%);
  perspective: 1000px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 490px;
}


.box3 {
  width: 90%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
}

.box3:hover {
  transform: rotateX(180deg);
}

 #blocked-user-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.top-blocked-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin: 0 auto;
  max-width: 600px;
}

.user-blocked-container{
  text-align: center;
  margin-bottom: 20px;
}

.blocked-user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.blocked-user-details {
  margin-top: 10px;
}

.blocked-user-details p{
  margin: 0;
  font-size: 12px;
  object-fit: cover;
}

.top-blocked-container{
  margin-top: 825px;
}
/* ==================================== Favorites Page */

#unfavorite-button{
  background-color: none;
  color:red;
  border: none;
}

.video-favorites-container{
  direction: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 35%;
  margin-top: 30px;
}


#user-favorite-vid{
padding: 10px;

}

/* ==================================== Edit Page */

.edit-profile-form{
 text-align: center;
  margin-top: 50px;
}

.profile-image-on-edit-page{
  text-align: center;
  margin-top: 80px;
}

.profile-image-on-edit-page img{
  width: 20%;
  height: auto;
}

#edit-user-button:hover{
  animation: flash 50ms infinite;
}

#cancel-user-button:hover{
  animation: flash 1s infinite;
}

/* ==================================== Forgot Password */

.flash-password{
  text-align: center;
  color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-top: 60px;
}


.forgot-password-form{
  margin-top: 100px;
  text-align: center;
  padding: 100px;
}

#forgot-password-button{
  text-align: center;
  margin-top: 20px;
}

#forgot-password-button:hover{
  animation: flash 1s infinite;
}


/* ==================================== Genie Page */

#genie-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}


#genie-img-graphic img{
  width: 100%;
  height: 100%;
}


#video-webcam-container {
  position: relative;
  width: 0%;
  height: 0vh;
  opacity: 0;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  filter: brightness(50%) contrast(200%) saturate(0) hue-rotate(180deg);
}


.container4 {
  position: fixed;
  top: 0;
  left: 46%;
  transform: translateX(-50%);
  perspective: 1000px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 700px;
}

.box4 {
  width: 90%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: pointer;
  max-width: 100%;
}

.box4:hover {
  transform: rotateX(180deg);
}


.genie-exit-button {
  position: fixed;
  top: 250px;
  right: 450px;
  z-index: 5;
  background-color: rgb(68, 80, 193);
  color: white;
  border-radius: 8px;
  border: none;
  width: 5%;
  height: 5%;
  font-size: 2vw;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3)
}

.genie-exit-button:hover{
  animation: flash 1s infinite;
}

/* ==================================== FX */

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}