{% extends 'index.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" id="nav-bar">
  <a class="navbar-brand" href="/edit"> <img src="{{g.user.image_url}}" alt="Navbar Icon" class="profile-photo-nav"
      id="profile-photo">{{g.user.username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <form>
        <button formaction="/" id="nav-bar-home" type="button" class="btn btn-secondary"><img
            src="/static/images/magic-lamp.png" alt="home-icon">Home</button>
        <button formaction="/wish" formmethod="GET" class="btn btn-light" id="nav-bar-wish">Wish
        </button>
        <button formaction="/favorite/{{g.user.id}}" id="nav-bar-favorites" class="btn btn-light">Favorites</button>
        <button class="btn btn-light" disabled id="nav-bar-locked" formaction="/genie">Locked</a>
      </form>
    </div>
    <div class="navbar-nav">
      <form action="/logout" method="POST">
        <button class="btn btn-warning" id="nav-bar-logout">Logout</button>
        {{ g.csrf_form.hidden_tag() }}
      </form>
    </div>
  </div>
</nav>
<div class="nav-space"></div>
<!-- wish page -->
{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
<h4 class="flash-password">{{ message }}</h4>
{% endfor %}
{% endif %}



<div class="video-content">
  <h2 class="page-title">Wish...</h2>
  <br>
  <form>
    <button type="click" id="lamp-video-display">
      <img id="magic-lamp-graphic" src="/static/images/magic-lamp.png" alt="magic-lamp">
    </button>
  </form>
  <form>
    <div class="video-container">

    </div>
    <!-- {{ g.csrf_form.hidden_tag() }} -->
  </form>
</div>


<audio id="genieLampSnd" preload="auto">
  <source src="/static/sounds/genie_lamp_snd.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>


<audio id="genieReady" preload="auto">
  <source src="/static/sounds/genie_ready.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>


<audio id="homeButtonSnd" preload="auto">
  <source src="/static/sounds/locked_genie.wav" type="audio/mp3">
  Your browser does not support the audio element.
</audio>


{% endblock %}