{% extends 'index.html' %}



{% block content %}


{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
<h4 class="flash-password">{{ message }}</h4>
{% endfor %}
{% endif %}

<div class="forgot-password-form">
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="page-title">Forgot Password?</h2>
      <form method="POST" action="/forgot" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-lg" id="forgot-password-button">Get Password</button>
      </form>
    </div>
  </div>
</div>

<audio id="forgotPasswordSendSnd" preload="auto">
  <source src="/static/sounds/wild_snd.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
{% endblock %}