{% extends 'index.html' %}


{% block content%}
<!-- genie page -->
{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
<h4 class="flash-password">{{ message }}</h4>
{% endfor %}
{% endif %}


<div id="video-webcam-container">

</div>

<img id="genie-background" src="/static/images/genie_background.gif" alt="">
<div id="genie-button"></div>
<div class="container4">
  <div class="box4" id="box4">
    <img id="genie-img-graphic" src="/static/images/final_genie_spotlight.png" alt="final-genie">
  </div>
</div>

<audio id="geniePageSnd" autoplay loop>
  <source src="/static/sounds/genie.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


<audio id="genieLaughSnd" preload="auto">
  <source src="/static/sounds/genie_laugh.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

{% endblock %}

{% block footer %}{% endblock %}