<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genie</title>
  <link rel="icon" type="image/x-icon" href="/static/images/magic-lamp.png">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
  <!-- homepage -->

  {% block content %}
  {% if get_flashed_messages() %}
  {% for message in get_flashed_messages() %}

  <h4 class="flash-password">{{ message }}</h4>

  {% endfor %}
  {% endif %}
  <div class="container">
    <div class="box" id="box">
      <div class="homepage-buttons">
        <form>
          <button formaction="/signup" formmethod="GET" id="signup-button-on-splash" type="button">Signup</button>
        </form>
        <form>
          <button formaction="/login" formmethod="GET" id="login-button-on-splash" type="button">Login</button>
        </form>
      </div>
    </div>
  </div>
  <audio id="homePageSound" preload="auto">
    <source src="/static/sounds/splash_page.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>

  <audio id="okSoundSplash" preload="auto">
    <source src="/static/sounds/ok_snd.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>

  <audio id="signupSplashSound" preload="auto">
    <source src="/static/sounds/wild_snd.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>

  {% endblock %}
  {% block footer %}
  <div class="footer-space"></div>
  <footer class="text-center">
    <div class="text-center p-3">
      © 2024 Copyright
      <a class="text-dark" href="/">YouWish.com</a><img src="/static/images/magic-lamp.png" alt="">
    </div>
  </footer>
  {% endblock %}

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/static/genie.js"></script>
</body>

</html>