{% extends 'index.html' %}

{% block content %}

{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
<h4 class="flash-password">{{ message }}</h4>
{% endfor %}
{% endif %}
<div class="container2">
  <div class="box2" id="box2">
    <div class="login-form">
      <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-5">
          <h2 class="page-title">Welcome back</h2>
          <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="btn btn-primary btn-lg" id="login-button-page">Log in</button>
          </form>
          <form>
            <button class="btn btn-light btn-lg" type="button" id="forgot-button-page" formaction="/forgot"
              formmethod="GET">Forgot
              Password?</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<audio id="okSoundLogin" preload="auto">
  <source src="/static/sounds/ok_snd.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>


<audio id="thwompSnd" preload="auto">
  <source src="/static/sounds/thwomp_snd.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>

<audio id="forgotPasswordSnd" preload="auto">
  <source src="/static/sounds/forgot_password_snd.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
{% endblock %}