{% extends 'index.html' %}

{% block content %}


<div class="container5">
  <div class="box5" id="box5">
  </div>
</div>

<div class="signup-form">
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="page-title">Make a Wish</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}

        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-success btn-lg" id="signup-button">Find a Genie</button>
      </form>
    </div>
  </div>
</div>



<audio id="signupPageSnd" preload="auto">
  <source src="/static/sounds/ok_snd.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>

{% endblock %}